@import "style.css";

body {
    font-family: 'Titillium Web', sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
body
{
  background: rgb(11, 207, 126);
  margin: 0;
}
.wrapper {
    max-width: 1350px;
    width: cals(100%-40px);
    margin: 0 auto;
}
header {
    background: rgba(220, 235, 9, 0.986);
    margin: 0;
   
}
.bottom_line {
text-align: center;
padding-top: 1px;
padding-bottom: 10px;
}
.bottom_line p {
    color: rgb(red, green, blue);
    background: -webkit-gradient(linear, left top, left bottom, from (rgb(red,green,blue)  ), to(rgb(188, 209, 0)));
    -webkit-background-clip: text;
   -webkit-text-stroke-color: lightsalmon;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;  
  }
  .bottom_line p:before
{
  background-position: -180px;
  -webkit-animation:flare 10s infinite;
  -webkit-animation-timing-function: linear;
  background-image: linear-gradient(70deg, lightsalmon 20%, rgba(221, 17, 17, 0.993) 20%, rgba(255, 255, 255, 0.3) 27%, lightsalmon 27%, lightsalmon 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: lightsalmon;
  content: "ЕНОТ – ПОЛОСАТЫЙ ХУЛИГАН";
  color: #13e270;
  display: block;
  padding-right: 140px;
  position: absolute;
}
.bottom_line p:after
{
  content: "ЕНОТ – ПОЛОСАТЫЙ ХУЛИГАН";
  color: #13e270;
  display: block;
  position: absolute;
  text-shadow: 0 1px rgb(20, 107, 110), 0 2px rgb(170, 24, 170), 0 3px rgb(170, 24, 170), 0 4px rgb(170, 24, 170), 0 5px rgb(170, 24, 170), 0 6px rgb(170, 24, 170), 0 7px rgb(170, 24, 170), 0 8px rgb(170, 24, 170), 0 9px rgb(170, 24, 170), 0 10px rgb(170, 24, 170);
  top: 0;
  z-index: -1;
}
.inner-shiny::after, .inner-shiny::before
{
		-webkit-animation: sparkle 3s infinite;
  -webkit-animation-timing-function: linear;
	background: #e9b5b5;
  border-radius: 100%;
  box-shadow: 0 0 5px #1b91d4, 0 0 10px #1b91d4, 0 0 15px #1b91d4, 0 0 20px #1b91d4, 0 0 25px #1b91d4, 0 0 30px #10e26f, 0 0 35px #10e26f;
  content: "ДвижКод";
  display: block;
  height: 10px;
  opacity: 0.7;
  position: absolute;
  width: 10px;
}

.inner-shiny::before
{
	-webkit-animation-delay: 0.2s;
  height: 7px;
  left: 0.12em;
  top: 0.8em;
  width: 7px;
}

.inner-shiny::after
{
  top: 0.32em;
  right: -5px;
}

@-webkit-keyframes flare
{
  0%   { background-position: -180px; }
  20%  { background-position: 500px; }
  100% { background-position: 500px; }
}

@-webkit-keyframes sparkle
{
  0%   { opacity: 0; }
  20%  { opacity: 0; }
  40%  { opacity: 0.8; }
  80%  { opacity: 0; }
  100% { opacity: 0; }
}
section.services {
    background: rgb(15, 219, 117);
    padding: 20px 0;
    text-align: center;
}
section.services h2 {
    font-size: 60px;
    line-height: 1;
    background: rgb(85, 214, 9);
background: linear-gradient(347deg, rgb(238, 226, 10) 0%, rgb(28, 187, 226) 12%, rgb(220, 183, 127) 23%, rgb(146, 202, 224) 35%, rgb(205, 123, 85) 50%, rgb(240, 153, 221) 65%, rgb(19, 201, 155) 77%, rgba(205,189,85,1) 88%, rgba(230, 148, 193, 0.978) 100%);
    letter-spacing: 0.2em;
    font-weight: 1000;
    margin-bottom: 20px;
}
section.services h3 {
    font-size: 50px;
    line-height: 1;
    background: rgb(12, 199, 84);
    background: linear-gradient(347deg, rgb(238, 226, 10) 0%, rgb(28, 187, 226) 12%, rgba(220,210,127,1) 23%, rgba(242,239,187,1) 35%, rgba(205,189,85,1) 50%, rgba(242,239,187,1) 65%, rgb(19, 201, 155) 77%, rgba(205,189,85,1) 88%, rgba(242, 187, 217, 0.978) 100%);


    letter-spacing: 0.2em;
    font-weight: 1000;
    margin-bottom: 20px;
}
body {
	
	background: rgb(201, 179, 57);
	margin: 0;
  background-image: url(фон.jpg);
  
}
h5 {
	cursor: help;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 2px;
	border-bottom: 3px solid #776b23;
}
form {
  margin: 0 auto;
  background-image:
  linear-gradient(45deg, rgba(250, 3, 3, 0) 30%, rgba(252, 4, 4, 0.8), rgba(252, 8, 8, 0) 70%),
  linear-gradient(to right, rgb(21, 226, 90), rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
  linear-gradient(to right, rgb(218, 17, 17), rgba(255,255,255,.9) 45%, rgba(10, 102, 177, 0.2)),
  linear-gradient(to right, rgba(125,125,125,1), rgba(212, 28, 28, 0.9) 45%, rgba(125, 125, 125, 0.5)),
  linear-gradient(to right, rgb(223, 97, 18), rgba(255, 255, 255, 0.9) 45%, rgba(223,190,170,.5)),
  linear-gradient(to right, rgba(223,190,170,1), rgba(255, 255, 255, 0.9) 45%, rgba(45, 67, 190, 0.5));
 background-repeat: no-repeat;
 background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
 background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
 box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
	width: 350px;
	height: 500px;
	padding: 20px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.group {
	margin: 1px;
	padding: 0px;
}
label {
	padding-left: 1px;
  text-transform: uppercase;
   font-size: 20px;
    
  
}
input {
	margin-top: 1px;
	height: 20px;
	width: 300px;
	border-radius: 20px/20px;
	border: none;
	padding-left: 15px;
	font-size: 18px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus {
	border: 2px solid #cab454;
	transform: translateX(5px);
	width: 385px;
}
button {
	cursor: pointer;
	padding: 10px 30px;
	height: 50px;
	color: rgb(0, 0, 0);
	background: #b8ad4d;
	border: none;
	text-transform: uppercase;
	font-size: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
button:hover {
	opacity: .30;
	font-weight: bold;
	transform: scale(1.1);
}

.button1 {
  position: relative;
  display: inline-block;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
  linear-gradient(45deg, rgba(250, 3, 3, 0) 30%, rgba(252, 4, 4, 0.8), rgba(252, 8, 8, 0) 70%),
  linear-gradient(to right, rgb(29, 216, 92), rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
  linear-gradient(to right, rgb(218, 17, 17), rgba(255,255,255,.9) 45%, rgba(10, 102, 177, 0.2)),
  linear-gradient(to right, rgba(125,125,125,1), rgba(212, 28, 28, 0.9) 45%, rgba(125, 125, 125, 0.5)),
  linear-gradient(to right, rgb(223, 97, 18), rgba(255, 255, 255, 0.9) 45%, rgba(223,190,170,.5)),
  linear-gradient(to right, rgba(223,190,170,1), rgba(255, 255, 255, 0.9) 45%, rgba(45, 67, 190, 0.5));
 background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.button1:hover {
  transition: .3s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  
}
.button1:active {
  top: 1px;
}